---
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout title="About - Nifty Digits - Simple, Quality Software">
    <section class="section is-large">
        <div class="container">
            <div class="columns">
                <div class="column is-10-desktop is-offset-1-desktop">
                    <div class="content is-size-5">
                        <h1 class="title is-spaced">About</h1>
                        <p>Hi, I’m Ian.</p>

                        <p>Since 2012, I’ve worked on web applications for companies such as the Office for National Statistics, BBC and Aardman Features. I’ve written tools that collect surveys for the largest businesses on the web and ensure complex studio animation pipelines run smoothly.</p>

                        <p>I believe that the best software is transparent to it’s users. I favour simple solutions, building upon existing open source libraries and automating workflows to deliver them.</p>

                        <p>I hold a PhD in Computer Science from Cardiff University and have a background in developing software for animation pipelines. I’m pretty lucky to also have a number of <a href="https://www.imdb.com/name/nm5349775/">imdb credits</a>.</p>

                        <p>If you're interested in hiring me, then please <a href="/contact.html">get in touch</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</MainLayout>