---
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout title="Contact - Nifty Digits - Simple, Quality Software" fontAwesome="true">
<section class="section is-large">
    <div class="container">
        <div class="columns is-centered">
          <div class="column is-narrow">
            <div class="content has-text-centered">
              <div class="is-flex is-horizontal-center">
                <figure class="image is-128x128">
                  <img class="is-rounded" src="img/headshot.jpg">
                </figure>
              </div>
              Ian Wootten <br />
              Founder and Developer <br />
              <a href="http://twitter.com/iwootten">@iwootten</a>
          </div>
        </div>
        <div class="column information is-8-desktop">
          <div class="content">
              <h1 class="title">Contact Me</h1>
              <p class="is-size-4-desktop">I'm based in sunny Cardiff, South Wales in the UK.</p>
              <p class="is-size-4-desktop">If you’re interested in hiring me to build a product 
                or work alongside a larger team, drop me an email and lets chat about how I can help you.</p>
              <a href="mailto:hi@niftydigits.com"><h2>hi@niftydigits.com</h2></a>
              <hr />
              <p>You can also find me on these sites:</p>
              <a href="https://twitter.com/iwootten">
                <span class="icon is-large"><i class="fab fa-2x fa-twitter"></i></span>
              </a>
              <a href="https://github.com/iwootten">
                <span class="icon is-large"><i class="fab fa-2x fa-github-alt"></i></span>
              </a>
              <a href="https://stackoverflow.com/users/1405701/ian-wootten">
                <span class="icon is-large"><i class="fab fa-2x fa-stack-overflow"></i></span>
              </a>
              <a href="https://www.linkedin.com/in/ianwootten/">
                <span class="icon is-large"><i class="fab fa-2x fa-linkedin"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>