---
import FontAwesomeHeader from '../components/FontAwesomeHeader.astro'
const { title, fontAwesome } = Astro.props
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="stylesheet" href="css/main.css">
    {fontAwesome ? <FontAwesomeHeader /> : null}

    <meta name="description" content="Python and Javscript Web App Development, Cardiff UK" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@niftydigits" />
    <meta name="twitter:creator" content="@iwootten " />

    <!-- Open Graph data -->
    <meta property="og:title" content="Nifty Digits" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.niftydigits.com/" />
    <meta property="og:image" content="http://niftydigits.com/img/headshot.jpg" />
    <meta property="og:description" content="Simple, Quality Software" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-size-3" href="/">Nifty Digits</a>

          <a role="button" class="navbar-burger burger"  data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end is-size-6">
            <a class="navbar-item" href="/">
              Services
            </a>
            <a class="navbar-item" href="/about.html">
              About
            </a>
            <div class="navbar-item">
              <a class="button is-outlined is-transparent is-primary is-inverted is-outlined" href="/contact.html">
                Contact
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <slot />

    <section class="section newsletter">
      <div class="container">
        <div class="columns is-centered is-mobile">
          <div class="column is-narrow">
            <div class="content has-text-centered">
              <h3 class="subtitle">Sign Up to My Newsletter</h3>
              <p>Get updated when I release products or write articles</p>
              <form action="https://niftydigits.us2.list-manage.com/subscribe/post?u=6b732011da8b02ff400c29702&amp;id=7c4e921ba7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6b732011da8b02ff400c29702_7c4e921ba7" tabindex="-1" value=""></div>
                  <div class="field has-addons">
                    <div class="control">
                      <input class="input is-large required" type="email" name="EMAIL" placeholder="Your Email Address">
                    </div>
                    <div class="control">
                      <button class="button is-large" type="submit" >
                        Subscribe
                      </button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
         <div class="level is-size-7">
          <div class="level-left">
            © 2012-2023 Nifty Digits Ltd
          </div>
          <div class="level-right">
            Registered in England and Wales, Company No: 7164674, VAT No: 948857846
          </div>
        </div>
      </div>
    </footer>
    <script src="/lib/main.js" is:inline />
  </body>
</html>
